{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
  <h1 class="text-center my-4">Reporte de Vacunas Disponibles</h1>
</div>

<div class="container mt-4">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col"><div class="text-center">Nombre</div></th>
        <th scope="col"><div class="text-center">Laboratorio</div></th>
        <th scope="col"><div class="text-center">Mascotas</div></th>
      </tr>
    </thead>
    <tbody>
      {% for vacuna in vacunas %}
      <tr>
        <td>{{ vacuna.nombre }}</td>
        <td>{{ vacuna.laboratorio }}</td>
        <td class="text-center">{{ vacuna.mascotas_vacunas.count }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="3" class="text-center">Sin vacunas registradas</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
